<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Usuários</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{{ url_for('static', filename='scripts/users.js') }}"></script>
</head>

<body style="height: 100vh; background: #e7e7e7">
  <nav class="navbar navbar-expand-lg" style="background-color: #03366a">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='image/logo-brancol.png') }}" alt="Logo"
          width="125" height="35" class="d-inline-block align-text-top" /></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard" style="color: white">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user" style="color: white">Usuários</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sensor" style="color: white">Sensores</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="geral" style="margin: 20px">
    <div class="table-responsive">
      <table class="table table-striped caption-top table-borderless">
        <caption>
          Lista de Usuários
        </caption>
        <thead>
          <tr>
            <th scope="col">Cód. Usuário</th>
            <th scope="col">Nome Usuário</th>
            <th scope="col">Login</th>
            <th scope="col">E-mail</th>
          </tr>
        </thead>
        <tbody class="table-group-divider" id="userTableBody">
          <!-- Dados serão inseridos aqui -->
        </tbody>
      </table>
    </div>
    <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop"
      aria-controls="staticBackdrop" style="background-color: #1bb89c; color: white">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
      </svg>
    </button>
    <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdropUpdate"
      aria-controls="staticBackdrop" style="background-color: #ffd700; color: black">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil"
        viewBox="0 0 16 16">
        <path
          d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
      </svg>
    </button>
    <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdropDelete"
      aria-controls="staticBackdrop" style="background-color: #dc3545; color: white">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg"
        viewBox="0 0 16 16">
        <path
          d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
      </svg>
    </button>

    <div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop"
      aria-labelledby="staticBackdropLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="staticBackdropLabel">
          Cadastrar Usuário
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div>
          <form id="cadastroForm" onsubmit="cadastrarUsuario(event)">
            <div class="mb-3">
              <label for="email" class="form-label">E-mail</label>
              <input type="email" name="email" class="form-control" required />
            </div>
            <div class="mb-3">
              <label for="login" class="form-label">Login</label>
              <input type="login" name="login" class="form-control" required />
            </div>
            <div class="mb-3">
              <label for="senha" class="form-label">Senha</label>
              <input type="password" name="senha" class="form-control" required />
            </div>
            <div class="mb-3">
              <label for="nome" class="form-label">Nome</label>
              <input type="text" name="nome" class="form-control" required />
            </div>
            <div class="d-grid gap-2">
              <button type="submit" class="btn" style="background-color: #1bb89c; color: white">
                Cadastrar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdropDelete"
      aria-labelledby="staticBackdropLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="staticBackdropLabel">
          Excluir Usuário
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div>
          <form id="cadastroForm2" onsubmit="excluirUsuario(event)">
            <div class="mb-3">
              <label for="codusu" class="form-label">Cód. Usuário</label>
              <input type="number" name="codusu" class="form-control" required />
            </div>

            <div class="d-grid gap-2">
              <button type="submit" class="btn" style="background-color: #dc3545; color: white">
                Excluir
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdropUpdate"
      aria-labelledby="staticBackdropLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="staticBackdropLabel">
          Atualizar Usuário
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div>
          <form id="cadastroForm3" onsubmit="atualizarUsuario(event)">
            <div class="mb-3">
              <label for="codusu" class="form-label">Cód. Usuário</label>
              <input type="number" name="codusu" class="form-control" required />
            </div>
            <div class="mb-3">
              <label for="campo" class="form-label">Campo p/ Atualização</label>
              <select class="form-select" aria-label="Default select example" name="campo" id="campo" onchange="mudarTipoCampo()">
                <option value="1">Nome Usuário</option>
                <option value="2">Login</option>
                <option value="3">E-mail</option>
                <option value="4">Senha</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="valor" class="form-label">Novo Valor</label>
              <input id="valor" type="text" name="valor" class="form-control" required />
            </div>
            <div class="d-grid gap-2">
              <button type="submit" class="btn" style="background-color: #ffd700; color: black">
                Atualizar
              </button>
            </div>
          </form>
          <div id="mensagem"></div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>